@tailwind base;
@tailwind components;
@tailwind utilities;

.customCancelButton:hover {
  border: 1px solid #054580 !important;
  color: #054580 !important;
}

.customOKButton:hover {
  background-color: #256098 !important;
}
.ant-btn-primary {
  background-color: #054580 !important;
  color: white !important;
}

@media (max-width: 550px) {
  .ag-paging-panel.ag-unselectable.ag-focus-managed {
    flex-direction: column !important;
    margin-top: 30px !important;
  }

  .ag-paging-panel.ag-unselectable.ag-focus-managed > span {
    margin-bottom: 2px !important;
  }
}